[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
nltk = "*"
gensim = "*"
"m16-mlutils" = "*"
pandas = "*"
kaggle = "*"

[dev-packages]
jupygit = "*"
matplotlib = "*"
tqdm = "*"
pytest = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
jupyterthemes = "*"

[requires]
python_version = "3.6"
